body{ margin:0; padding:0; color:#444444;font-size:16px; font-family: Arial, "Microsoft YaHei"; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
div,ul,li,p,h1,h2{ margin:0; padding:0;}
h1,h2{ font-weight:normal; font-size:14px;}
 ul,li{ list-style:none; text-decoration:none;padding: 0;margin: 0;}

a{ text-decoration:none; color:#424242 }
a:hover{ text-decoration:underline; color:#0c4084; }
img{ border:none}
.clear{ clear:both;}

.header{ width:1200px; height:120px; margin:0 auto; position:relative  }
.logo{ position:absolute; display:block; width:342px; height:134px; background:url(../images/zyfw01.jpg) repeat-x 0 0; left:0;top:15px;}
.pre_bt{ position:absolute;display:block; width:180px; height:41px; line-height:41px;  border:1px solid #e6e6e6;background:url(../images/zyfw02.jpg) repeat-x 0 0; right:200px; top:35px;}
.pre_bt:hover{ background:url(../images/zyfw03.jpg) repeat-x 0 0; text-decoration:none; color:#444444;}
.pre_bt img{ padding:10px 10px 0; display:inline-block; float:left;}
.som_bt{position:absolute;display:block; width:180px; height:41px;line-height:41px;  border:1px solid #e6e6e6;background:url(../images/zyfw02.jpg) repeat-x 0 0; right:0; top:35px;}
.som_bt:hover{ background:url(../images/zyfw03.jpg) repeat-x 0 0; text-decoration:none; color:#444444;}
.som_bt img{ padding:10px 10px 0;display:inline-block; float:left;}
.nav {position:relative; height: 40px;  width: 670px;z-index: 100; padding-left:530px; margin:0 auto 0; }
.menu { height: 40px; z-index: 100; top: 0px; right: 0; }
.menu li { float:left; font-size: 18px; font-family:Microsoft YaHei;  text-align: center;width:124px; margin:0; height:40px;  line-height: 40px; padding: 0; margin-right:16px }
.menu li a {  color: #444444; width:104px; height:40px; line-height:40px; padding:0 10px;  margin: 0; display:block;  font-size: 18px; font-family:Microsoft YaHei;  }
.menu li a:hover{background:#da302c; color:#ffffff;text-decoration:none}
.menu li a.noborder { border-right: none; }



.li_1 { position: relative; z-index: 100; }
.li_1:hover{ background:#eeeeee}
.li_1_content { position: absolute; top: 22px; left:-40px; line-height: 40px; z-index: 99; display: none; height: 188px;  width: 124px; }
.li_1_content a:hover { color: #ffffff !important; }
.li_1_content dd { width: 122px;  border-left: 1px solid #eeeeee; border-right: 1px solid #eeeeee;border-bottom: 1px solid #eeeeee; background:#ffffff }
.li_1_content dd a { text-align: center; padding: 0; border-right: none; color: #666; font-weight: normal; width: auto; width: 112px; height:40px; line-height:40px;padding: 0 5px;  display:inline-block; background:none; font-size:16px;}
.li_1_content dd a:hover{ background:#da302c; color:#ffffff}
.li_1_content dd.firstItem{border-top: 2px solid #da302c;}
.li_1_content dd.lastItem { background-image: none; border-bottom: 1px solid #eeeeee; }
.li_1_content dd.lastItem a { border-bottom: none; }



.li_2 { position: relative; z-index: 100; }
.li_2:hover{ background:#eeeeee}
.li_2_content { position: absolute; top: 22px; left:-40px; line-height: 40px; z-index: 99; display: none; height: 188px;  width: 124px; }
.li_2_content a:hover { color: #ffffff !important; }
.li_2_content dd { width: 122px;  border-left: 1px solid #eeeeee; border-right: 1px solid #eeeeee;border-bottom: 1px solid #eeeeee; background:#ffffff }
.li_2_content dd a { text-align: center; padding: 0; border-right: none; color: #666; font-weight: normal; width: auto; width: 112px; height:40px; line-height:40px;padding: 0 5px;  display:inline-block; background:none; font-size:16px;}
.li_2_content dd a:hover{ background:#da302c; color:#ffffff}
.li_2_content dd.lastItem { background-image: none; border-bottom: 1px solid #eeeeee; }
.li_2_content dd.lastItem a { border-bottom: none; }


/* fullSlide */
.fullSlide{width:100%;position:relative;height:418px;background:#000; border-top:3px solid #da302c; margin-bottom:30px;}
.fullSlide .bd{margin:0 auto;position:relative;z-index:0;overflow:hidden;}
.fullSlide .bd ul{width:100% !important;}
.fullSlide .bd li{width:100% !important;height:418px;overflow:hidden;text-align:center;}
.fullSlide .bd li a{display:block;height:410px;}
.fullSlide .prev,.fullSlide .next{display:block;position:absolute;z-index:1;top:50%;margin-top:-30px;left:15%;z-index:1;width:40px;height:60px;background:url(../images/slider-arrow.png) -126px -137px #000 no-repeat;cursor:pointer;filter:alpha(opacity=50);opacity:0.5;display:none;}
.fullSlide .next{left:auto;right:15%;background-position:-6px -137px;}

.fullSlide{width:100%;position:relative;height:358px;background:#000; border-top:3px solid #da302c; margin-bottom:30px;}
.fullSlide .bd{margin:0 auto;position:relative;z-index:0;overflow:hidden;}
.fullSlide .bd ul{width:100% !important;}
.fullSlide .bd li{width:100% !important;height:358px;overflow:hidden;text-align:center;}
.fullSlide .bd li a{display:block;height:350px;}
.fullSlide .prev,.fullSlide .next{display:block;position:absolute;z-index:1;top:50%;margin-top:-30px;left:15%;z-index:1;width:40px;height:60px;background:url(../images/slider-arrow.png) -126px -137px #000 no-repeat;cursor:pointer;filter:alpha(opacity=50);opacity:0.5;display:none;}
.fullSlide .next{left:auto;right:15%;background-position:-6px -137px;}


.allbody{ width:1200px;min-height:700px; height:auto !important; height:700px; margin:0 auto; padding:15px 34px 50px; background:#ffffff}
.zygc{ width:492px; height:443px; float:left; border-right:1px solid #e1e1e1}
.zygc h1{ position:relative; width:425px; height:60px; padding-left:67px; background:url(../images/zyfw08.png) no-repeat 3px 3px; font-size:24px; font-style:italic; color:#e71913; line-height:60px; margin-bottom:10px;}
.zygc h1 a{ position:absolute; left:398px; top:20px; display:block; float:right; width:60px; height:22px; border:1px solid #888888; border-radius:12px; font-size:14px; color:#888888; line-height:22px; text-align:center; background:#ffffff;font-style:normal;}
.zygc h1 a:hover{background:#e65754; border:1px solid #e65754; color:#ffffff; text-decoration:none}
.zygc ul{ width:460px; height:auto; padding-left:15px;}
.zygc ul li{ width:460px; height:40px; overflow:hidden; position:relative}
.zygc ul li a{ width:460px; height:40px; overflow:hidden; display:block; line-height:40px; position:absolute; left:0; top:0;z-index:1;}
.zygc ul li span{ width:90px; font-style:italic; color:#999999; padding-left:20px; font-size:14px; height:40px; overflow:hidden; display:block; line-height:40px; position:absolute;right:0; top:0; z-index:10; background:#ffffff}

.wxzy{ position:relative; width:284px;height:443px; float:left; border-right:1px solid #e1e1e1;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;  margin-bottom:40px;}
.wxzy h1{ position:relative; width:260px; height:60px; padding-left:92px;font-size:24px; font-style:italic; color:#e71913; line-height:60px; margin-bottom:8px;}
.wxzy h1 img{ position:absolute; left:-2px; top:-10px;}
.wxzy ul{ padding:0 10px; width:264px;}
.wxzy ul li{ width:264px; height:34px; overflow:hidden; line-height:36px;}
.wxzy ul li span{ display:block; width:6px; height:6px;  background:#dddddd; margin-right:8px; margin-top:15px; float:left;}
.wxzy ul li span.wxzy_bgh{background:#e65754; color:#ffffff}
.wxzy ul li b{ font-weight:normal; display:block; width:89px; height:34px; overflow:hidden; float:left;}
.wxzy ul li i{ display:inline-block; float:right; font-style:normal; font-size:14px; text-align:left; width:145px; height:34px; overflow:hidden; line-height:34px;}
.wxzy ul li i font{ font-style:italic; font-weight:bold; padding:0 3px; color:#ff912f}

.wxzy_td{ width:420px;}
.wxzy_td ul{ padding:0 10px; width:400px;}
.wxzy_td ul li{ width:400px; }
.wxzy_td ul li b{ font-weight:normal; display:inline-block; width:225px; height:34px; overflow:hidden}

.more01{ position:absolute; right:18px; top:400px; display:block; float:right; width:60px; height:22px; border:1px solid #888888; border-radius:12px; font-size:14px; color:#888888; line-height:22px; text-align:center; background:#ffffff; }
.more01:hover{background:#e65754; border:1px solid #e65754; color:#ffffff; text-decoration:none}





.zyzm{position:relative; width:283px; height:385px; border:1px solid #eeeeee; float:left; margin-right:20px;}
.zyzm h1{ width:257px; padding-top:20px; padding-left:26px; height:60px; font-size:24px; font-style:italic; color:#e71d16; line-height:48px; background:url(../images/zyfw10.png) no-repeat 135px 26px; }
.zyzm dl{  width:220px; height:295px; margin:0 auto;}
.zyzm dl dt{ width:220px; height:120px; overflow:hidden; margin-bottom:15px;}
.zyzm dl dt img{ max-width:220px;}
.zyzm dl dd{ width:220px; height:160px; margin:0; padding:0; }
.zyzm dl dd p{ line-height:28px;}
.zyzm dl dd a{ position:absolute;display:block; width:60px; height:22px; border:1px solid #888888; border-radius:12px; font-size:14px; color:#888888; line-height:22px; text-align:center; background:#ffffff; right:20px; bottom:16px;}
.zyzm dl dd a:hover{background:#e65754; border:1px solid #e65754; color:#ffffff; text-decoration:none}

.zyfc{ width:1200px;min-height:660px; height:auto !important; height:700px; margin:0 auto; padding:30px 0 30px; background:#ffffff}
.zyfc h1{position:relative; width:1133px; height:60px; padding-left:67px; background:url(../images/zyfw08.png) no-repeat 3px 3px; font-size:24px; font-style:italic; color:#e71913; line-height:60px; margin-bottom:20px; border-bottom:1px solid #eeeeee; }
.zyfc h1 a{ position:absolute; left:1117px; top:20px; display:block;  width:60px; height:22px; border:1px solid #888888; border-radius:12px; font-size:14px; color:#888888; line-height:22px; text-align:center; background:#ffffff;font-style:normal;}
.zyfc h1 a:hover{background:#e65754; border:1px solid #e65754; color:#ffffff; text-decoration:none}
.zyfc ul { width:1200px;}
.zyfc ul li { width:220px; padding:9px 9px; border:1px solid #ffffff;  height:270px; overflow:hidden; float:left; margin-bottom:10px;}
.zyfc ul li:hover{ border:1px solid #eeeeee; }
.zyfc ul li a img{ display:block; width:220px; height:120px;}
.zyfc ul li h2 a{font-size:16px; line-height:26px; display:block; width:220px; height:52px; overflow:hidden; margin-bottom:5px; margin-top:10px; }
.zyfc ul li p{font-size:14px; color:#999999; line-height:22px; display:block; width:214px;  height:66px; overflow:hidden; margin:10px auto;  }






.footer{ width:100%; height:116px;background:#fafafa; border-top:3px solid #dd433f;}
.footer p{ width:450px; padding-top:18px; line-height:26px; font-size:14px; color:#7d7c7c;font-family:"宋体"; margin:0 auto; text-align:center;}
.footer p a{ color:#7d7c7c;}




#fujian{ width:800px; height:auto; padding-top:15px; display:block; margin-bottom:20px; }
#fujian h4{ font-size:16px; color:#0b366c; font-weight:bold; height:40px; line-height:40px; padding:0px; margin-bottom:0px;}
#fujian ul li{ height:40px; line-height:40px; width:700px;white-space:nowrap;text-overflow:ellipsis; overflow:hidden;}
#fujian ul li a{ text-decoration:underline; color:#666666}
#fujian ul li a:hover{ text-decoration:underline; color:#990000}



.jg_w{ width:1200px; margin:0px auto;  position:relative; overflow: hidden; padding-top:20px;  }
.jg_w .jg_l-r{ width:1200px; position:relative; right:775px;background:#ffffff }
.jg_w .jg_l-r .jg_l{width:250px;float:left;position:relative;left:775px;}
.jg_w .jg_l-r .jg_l h1{width:250px; height:50px; padding-top:14px; line-height:50px; background:#da302c; color:#ffffff; font-size:24px; text-indent:20px;}
.jg_w .jg_l-r .jg_r{width:895px;min-height:700px; height:auto!important; height:700px; padding-left:45px; padding-bottom:50px; float:left;position:relative;left:775px; background:#ffffff; }


.menu_head{width:248px;min-height:60px; height:auto !important; height:60px; line-height:60px;border:1px solid #dddddd; border-top:none;font-size:16px;cursor:pointer; position:relative;margin:0px auto;font-weight:bold;background:#f6f6f6; }
.menu_list .menu_head a{ display:block; width:208px; min-height:28px; height:auto !important; height:28px; line-height:28px;padding:16px 20px; }
.menu_list .menu_head a:hover{ color:#265798;background:#ffffff; text-decoration:none}
.menu_body{width:250px;height:auto;overflow:hidden;line-height:40px;}
.menu_body a{display:block;width:208px;min-height:30px; height:auto !important; height:24px; padding:8px 20px;  line-height:24px;border:1px solid #dddddd; border-top:none;font-size:16px; background:#ffffff;text-indent:15px;}
.menu_body a:hover{text-decoration:none; background:#f3fbff;color:#265798;}


.nowsite{ width:895px; height:63px; border-bottom:3px solid #da302c; margin-bottom:25px;}
.nowsite h1{ font-size:20px; color:#da302c; float:left; width:290px; height:42px; padding-top:21px; line-height:38px; font-weight:bold;}
.nowsite p{ width:500px; text-align:right; float:right; padding-top:23px; height:40px; line-height:40px;font-family:"宋体"; color:#8a8a8a}
.nowsite p a{color:#8a8a8a}
.nowsite p a:hover{color:#265798; text-decoration:none;}

.nowsite1{ width:1160px; height:63px; border-bottom:3px solid #da302c; margin:0 auto 25px;}
.nowsite1 h1{ font-size:20px; color:#da302c; float:left; width:290px; height:42px; padding-top:21px; line-height:38px; font-weight:bold;}
.nowsite1 p{ width:500px; text-align:right; float:right; padding-top:23px; height:40px; line-height:40px;font-family:"宋体"; color:#8a8a8a}
.nowsite1 p a{color:#8a8a8a}
.nowsite1 p a:hover{color:#265798; text-decoration:none;}

ul.list3{width:890px; padding-left:5px;min-height:500px; height:auto!important; height:500px; margin-bottom:40px;}
ul.list3 li{ width:890px;  min-height:44px; height:auto !important; height:44px; line-height:44px; border-bottom:1px dotted #cccccc; }
ul.list3 li a{ width:700px;  min-height:26px; height:auto !important; height:26px;padding:7px 20px 7px 17px; line-height:26px; font-size:16px;font-family:"宋体"; float:left;background:url(../images/tsglm05.jpg) no-repeat 0 16px;}
ul.list3 li b{ width:100px; height:40px; line-height:40px; font-size:16px;font-family:"宋体"; float:right; font-weight:normal}

ul.list{width:1160px; min-height:500px; height:auto!important; height:500px; margin:0 auto 40px;}
ul.list li{ width:1160px;  min-height:44px; height:auto !important; height:44px; line-height:44px; border-bottom:1px dotted #cccccc; }
ul.list li a{ width:960px;  min-height:26px; height:auto !important; height:26px;padding:7px 20px 7px 10px; line-height:26px; font-size:16px;font-family:"宋体"; float:left;background:url(../images/tsglm05.jpg) no-repeat 0 16px;}
ul.list li b{ width:100px; height:40px; line-height:40px; font-size:16px;font-family:"宋体"; float:right; font-weight:normal}


.core-paging-b{ width:800px; height:28px;text-align:center;margin:0 auto 0 0; padding-top:20px;}
.core-paging-b a{display:inline-block;width:auto;height:26px;margin:0px 4px;border:1px solid #dadada;border-radius:2px;font-size:14px;color:#8f8e8e;line-height:26px;text-align:center;padding:0px 10px;}
.core-paging-b a:hover{background-color:#e65754;border:1px solid #e65754;color:#fff; text-decoration:none}
.core-paging-b span { width:auto;height:28px; line-height:28px;text-align:center;padding:0px 10px; display:inline}
.core-paging-a{ width:1160px; margin-bottom:50px;}

.title_xl{ width:870px;min-height:40px; height:auto!important; height:40px; line-height:40px; font-size:24px; text-align:center; padding:30px 0 0px; font-weight:normal}
.date_xl{width:870px; height:24px; line-height:24px; font-size:16px; text-align:center; padding:0px 0 15px; font-weight:normal;font-family:"宋体"; border-bottom:1px dotted #c7d2e0; color:#506e97; margin-bottom:40px; }
.content_c{ width:870px;min-height:40px; height:auto!important; height:40px;line-height:36px; font-size:16px;}
.content_c img{ display:block; max-width:750px; width:auto!important; width:750px;  height:auto; margin:0 auto 12px;}
.content_c h5{ display:block; width:750px;  min-height:40px; height:auto!important; height:40px; line-height:40px;font-weight:normal; font-size:16px; text-align:center; margin:0 auto 15px}

.content_1{ width:1060px;min-height:40px; height:auto!important; height:40px; margin:0 auto; }
.title_m{ width:1000px; margin:0 auto 20px}
.date_m{width:1000px; margin:0 auto 40px; }
.content_m{ width:1000px;margin:0 auto}
.content_m img{ max-width:800px; width:auto!important; width:800px;margin:0 auto 15px }
.content_m h5{ display:block; width:800px;margin:0 auto 15px}





